.Rproj.user
.RData
.Ruserdata

.Rhistory
.Rprofile
*.zip
*.html
*.qmd
*.lock

Dilution_Plot_Folder
exclude
index_files
Injection_Sequence_Plot_Folder
renv
Results_Folder
utils
.Rdata
.httr-oauth
.DS_Store
